<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {# Users of this bundle will probably want to override layout.  @see http://symfony.com/doc/current/cookbook/bundles/inheritance.html #}
        {% block body %}{% endblock %}
    </body>
</html>
