<h1>{{ 'ccc.email-template.create new email template'|trans({}, 'CCCEmailTemplate') }}</h1>

{{ form(form) }}

<p>
    <a href="{{ path('ccc_email_template') }}">
        {{ 'ccc.email-template.back to list'|trans({}, 'CCCEmailTemplate') }}
    </a>
</p>